.topBar{
    position: relative;
    display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #363636;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        z-index: 10;
    @media only screen and (min-width: 768px){
        padding: 10px;
    }

    &__menuButton{
        display: block;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 25px;
        @media only screen and (min-width: 768px){
            display: none;
        }
    }

    &__menuButtonBar{
        width: 30px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin-top: 7px;
        position: relative;
        border: 0 solid #121834;
    }

    &__menu{
        position: fixed;
        top: 0;
        right: -250px;
        height: 100vh;
        margin-top: 104px;
        background-color: #363636;
        transition: .3s transform ease-in;
        transform: translateX(0);
        @media only screen and (min-width: 768px){
            position: static;
            height: auto;
            width: 100%;
            padding:0;
            margin:0;
            transform: translateX(-50px);
            margin-top: 0;
            background-color: transparent;
            transition: none;
        }

        &--active{
            transform: translateX(-250px);
        }

        &Overlay {
            display: none;
        
            @media only screen and (max-width: 1023px) {
              display: block;
              width: 100%;
              height: 100%;
              position: fixed;
              top: 0px;
              left: 0;
              background: rgba(0, 0, 0, 0.7);
              z-index: 9;
        
              &--hidden {
                display: none;
              }
            }
          }
    }

    &__list{
        display: flex;
        flex-flow: column;
        list-style: none;
        margin:0;
        padding: 0;
        @media only screen and (min-width: 768px){
            flex-flow: row;
            justify-content: center;
            gap: 30px;
            padding: 0;
        }
    }

    &__link{
        color: #fff;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        &:hover{
            color: #fad2d2;
        }

        @media only screen and (min-width: 768px){
            padding: 20px 0;
    
        }
    }
}

.menu--2 {
    background-color: #0095f9;
    .line--1,
    .line--3 {
      --total-length: 111.22813415527344;
      --offset: -50.22813415527344;
    }
    .line--2 {
      --total-length: 99;
    }
    input:checked+svg {
      path {
        transform: translateX(30px);
      }
      .line--1,
      .line--3 {
        --offset: -16.9705627485;
      }
      .line--2 {
        --offset: -20;
      }
    }
  }